*{
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.musicboy{
	border-radius:500px;
	border-width:5px;
	width: 400px;
	height: 400px;
	animation:circle infinite linear paused;/*匀速 循环*/
}

@keyframes circle{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

.container{
	/*border-style: solid;*/
    width: 80%;
	margin:0 auto;
	margin-top: 20%;
	align-items: center;
	text-align: center;
	font-family:'Source Sans Pro', sans-serif;
}

.title{
	margin:0 auto;
	color: white;
	background-color: black;
	text-align: center;
	border-radius: 80px;	/*圆角*/
	font-size: 100px;
	width: 90%;
	height: 170px;
	line-height : 170px;	/*上下居中*/
}

.theme{
	margin-top:10%;
	font-size: 50px;
	text-align: center;
}

.songname{
	margin:10% auto;
	width:80%;
	height: 500px;
	border-style: solid;

}

.player{
	/*margin-top:40%;*/
}

.prevandnext{
	line-height : 40%;
}
